/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SITE */

.center {
	margin: 0 auto;
}

body > table {
	width: 1100px;
}

table td {
	vertical-align: top;
}

table#title {
	border: 0;
	height: auto;
	line-height: 64px;
	font-size: 42px;
	color: #f34b2b;
	font-weight: bold;
	font-family: Arial;
	vertical-align: bottom;
}

table#title a {
	color: #f34b2b;
}

table#title td {
	vertical-align: bottom;
}

table#title span.high {
	font-size: 55px;
}


table#nav {
	background: #f5f5f5;
	border-top: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
}


table#nav tr {
	border-bottom: 1px solid #c2c2c2;
}

table#nav td {
	padding: 0 38px;
	border-left:   1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;

	height: 32px;
	text-align: center;
}

table#nav td span {
	top: 8px;
	position: relative;
	font-size: 14px;
	font-family: "ProximaNovaSemibold", sans-serif;
	color: #222;
	text-shadow: 1px 1px 1px #FFF;
	text-transform: uppercase;
	font-weight: bold;
}


table#nav td a {
	color: #222;
}

table#thumbnails {
/*	border: 1px solid blue;*/
	width: 1100px;
	margin-top: 12px;
}

table#thumbnails td {
/*	border: 1px solid blue;*/
	width: 1100px;
	height: 64px;
	overflow:hidden;
}

table#thumbnails td div {
/*	border: 1px solid blue;*/
	width: 1100px;
	height: 64px;
	overflow: hidden;
}

table#thumbnails img {
	margin-right: 13px;
}

table#big-photo {
/*	border: 1px solid blue;*/
}

/* Core Layout */

table#core-layout {
/*	border: 1px solid green;*/
	margin-bottom: 100px;
}

td.columnA {
/*	width: 540px;*/
/*	border: 1px solid blue;*/
}

td.columnB {
	width: 340px;
/*	border: 1px solid red;*/
}

td.columnC {
	width: 205px;
}

/* Main */

body {
	font: 12px "Lucida Grande",Tahoma,Verdana,sans-serif;
	color: #111;
	background: #fff;
}

a {
	text-decoration: none;
}

/* LEad with Photo */

#big-photo {
	margin-top: 12px;
	margin-bottom: 8px;
	height:    255px;
	overflow: hidden;
}

#big-photo-item {
	position: relative;
}

#big-photo-item .photo-wrapper {
	height:    255px;
	overflow: hidden;
	display: inline-block;
	background-color: #eee;
}
#big-photo-item img {
	margin-top: -11%;
	width:  740px;
	height: auto;
}

#photo-side {
	background-color: #FDF6E5;
	border-left: 15px solid white;
	position: relative;
}

#photo-side .featured-blurb {
	float: right;
	padding: 0 2px;
	font-size: 9px;
	color: #999;
	text-transform: uppercase;
	position: absolute;
	top:    3px;
	right: 15px;
}

.photo-kicker {
	position: absolute;
	padding: 3px 10px;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #f03011;
	color: #FFFFFF;
	top: 10px;
	right: 20px;
	
}

.photo-kicker a {
	color: white;
	text-align: center;
}

.photo-title {
	position: absolute;
	background-color: black;
	color: white;
	width: 59%;
	top:   37px;
	right: 20px;
	opacity: 0.7;
}

.photo-title a {
	display: inline-block;
	color: white;
	margin: 15px;
	text-align: right;
}

.photo-title h2 {
	display: inline;
	font-family: ProximaNovaSemibold, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 36px;
	font-size:   31px;
}



/* A Column */



.columnA li {

}

.post {
	position: relative;
	padding: 15px 0 15px 0;
	border-bottom: 0px;
	display: inline-block;
	clear: both;
}

.thumbnail {
	float: left;
	width: 135px;
	display: inline-block;
	margin-top: -3px;
}

.thumbnail div {
	height: 80px;
	overflow: hidden;
}

.thumbnail img {
	width: 125px;
}

.details {
	float: left;
	width: 385px;
	display: inline-block;
}

.post h2 {
	font-size: 20px;
	line-height: 22px;
	padding: 0;
	font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 0 white;
	margin-top: -3px;
}

.post h2 a {
	color: #07e;
}

p.description {
	font: normal 13px/17px Helvetica,Arial,sans-serif;
	margin: 5px 0;
}

p.meta {
	width: 355px;
	float: left;
	font-size: 10px;
	margin-bottom: 0px;
	color: #aaa;
}

p.meta span,
p.meta a {
	display: block;
	float: left;
	margin-right: 10px;
}

p.meta a {
	color: #aaa;
}

.author {
	display: block;
	max-width: 130px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* B Column */

#side-items {
	margin-top: 10px;
}

#side-items li {
	position: relative;
	overflow: hidden;
}

#side-items .side-thumbnail {
	height:    120px;
	width: 	   100%;
	overflow: hidden;
	position: relative;
}

#side-items .side-thumbnail img {
	margin-top: -10%;
	width: 340px;
}

#side-items .side-details h2 {
	margin-top: 5px;
}

#side-items .side-details h2 a {
	font-family: ProximaNovaSemibold, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	color: black;

	outline-color: rgb(34, 34, 34);
	outline-style: none;
	outline-width: 0px;
	text-shadow: rgb(255, 255, 255) 1px 1px 0px;
}

#side-items p.meta {
	margin: 3px 0 15px 0;
}

/* Photo Side */

#photo-side img {
	width: 312px;
	padding: 16px;
	opacity: 0.9;
	max-height: 222px;
}


/* Flourish */

.circle:before {
	content: attr(data-title);
	width:  50px;
	height: 50px;
	border-radius: 50%;
/*	background-color: #02a6da;*/
	background-color: #ffee00;
	display: inline-block;
	position: absolute;
	z-index: 99999;
	left: -15px;
	top:   -3px;
	line-height: 49px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	-webkit-transform: rotate(-32deg);
}

.side-post .circle:before {
	top: 20px;
}

/*
.circle.win:before {
	content: "win";
	background-color: #ffee00;
}

.circle.cute:before {
	content: "cute";
	background-color: #ffee00;
}

.circle.omg:before {
	content: "OMG";
	background-color: #ffee00;
}
*/

.notReady {
	color: #888 !important;
}


/* Footer */

#footer {
	width: 1100px;
	background: #333;
	margin: 0 auto;
	color: white;
	padding-bottom: 50px;
}

#footer p {
	padding: 20px 50px 0 50px;
	font-size: 16px;
	color: #EEE;
}

#footer p:first-child {
	padding-top: 50px;
}

#oops {
	color: #888;
	font-size: 14px;
	text-align: right;
	width: 100%;
	display: block;
	font-weight: normal;
}
